In [1]:
#B.Cleaning and preprocessing

In [2]:
import pandas as pd

df = pd.read_csv('books_uncleaned.csv')

In [3]:
# Clean column names
df.columns = df.columns.str.strip()

In [4]:
# Clean price
# Got error when cleaning only Â£ (some latin type encoding issue)
# so cleaned every special character
df['Price'] = df['Price'].str.replace(r'[^0-9.]', '', regex=True).astype(float)

In [5]:
#check whether everything is ok
print(df.head())
print(df.tail())

                                   Title  Price Rating Availability  \
0                   A Light in the Attic  51.77  Three     In stock
1                     Tipping the Velvet  53.74    One     In stock
2                             Soumission  50.10    One     In stock
3                          Sharp Objects  47.82   Four     In stock
4  Sapiens: A Brief History of Humankind  54.23   Five     In stock

             Category
0              Poetry
1  Historical Fiction
2             Fiction
3             Mystery
4             History
                                                Title  Price Rating  \
95  Lumberjanes Vol. 3: A Terrible Plan (Lumberjan...  19.92    Two
96  Layered: Baking, Building, and Styling Spectac...  40.11    One
97  Judo: Seven Steps to Black Belt (an Introducto...  53.90    Two
98                                               Join  35.67   Five
99          In the Country We Love: My Family Divided  22.00   Four

   Availability         Category
95     In stock   Sequential Art
96     In stock   Food and Drink
97     In stock    Add a comment
98     In stock  Science Fiction
99     In stock       Nonfiction

In [6]:
#Got 100 records

In [7]:
# Rating conversion
rating_map = {"One":1, "Two":2, "Three":3, "Four":4, "Five":5}
df['Rating'] = df['Rating'].map(rating_map)

In [8]:
# Missing values
print(df.isnull().sum())

Title           0
Price           0
Rating          0
Availability    0
Category        0
dtype: int64

In [9]:
# Remove duplicates
df.drop_duplicates(inplace=True)

In [10]:
# Price category
def price_category(price):
    if price < 20:
        return "Budget"
    elif price <= 40:
        return "Mid-range"
    else:
        return "Premium"

df['price_category'] = df['Price'].apply(price_category)

In [11]:
# Stock availability
df['in_stock'] = df['Availability'].apply(lambda x: True if "In stock" in x else False)

In [12]:
# Save cleaned data
df.to_csv('books_cleaned.csv', index=False)

In [13]:
#Print Catwgorywise
print(df['Category'].value_counts().head())

Category
Sequential Art    14
Nonfiction        12
Default            9
Poetry             7
Add a comment      5
Name: count, dtype: int64